<% content_for :side_body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <% if @posts.any? %>
    <section id="blog_posts" class="row">
      <section class="eight columns">
        <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
        <%= will_paginate @posts %>
      </section>
      <aside class="four columns">
        <%= render :partial => '/refinery/blog/shared/body_content_right' %>
      </aside>
    </section>
  <% else %>
    <section class="row">
      <div class="three columns"></div>
      <div class="three columns empty_blog">
        <%= image_tag("empty_blog.jpg") %>
      </div>
      <div class="three columns empty_blog">
        <h1><%= t('.no_blog_articles_yet') %></h1>
      </div>
      <div class="three columns"></div>
    </section>
  <% end %>
<% end %>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>
